:root{
    --background: #EAEAEA;
    --colorFont: #1b2029;
    --colorFontLight: #3f4c64;
    --colorMenu: #eaeaeac5;
    --colorMenuItems: #719981;
    --sectionColor: #cecece;
    --colorSmoothModal: #c4c9c0c4;
    --colorModalClose: #a16868;
    --ratingOff: #8d9494;
    --yellow: #d8973c;
    --blueSktBnt: #70ADB5;
    --blueSktBntHover: #538e97;
    --white: #EEE;
    --cardColor: #e7e3db;
    --colorCap: #738d81;
    --colorCup: #a19985;
    --colorShirt: #646874;
    --colorBtnAdd: #a2acacb0;
    --colorBtnAddActive: #8f9999e8;
    --colorShopBtn: #FBF7F0;
    --colorShopActive: #e65e77;
    --sombraCards: -2px 10px 20px -15px #535a5c;
    --sombraMenu: -0px 12px 15px -20px #a5a9add2;
    --colorCopy: #969696;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--background);
    color: var(--colorFont);
}

/* body *{
    outline: 1px solid rgb(119, 115, 115);
} */

.section-styles{
    max-width: 1024px;
    padding: 2rem 1.5rem;
    margin: 4rem auto;
    scroll-margin-top: 4rem;
}

/* MENU */
.menu{
    display: flex;
    justify-content: center;
}
.menu a{
    color: var(--colorFont);
}
.menu-content{
    background-color: var(--background);
    box-shadow: var(--sombraMenu);
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
    padding: 1rem 1.5rem;
    margin: 0;
}

.content-logo{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.logo-img, .logo-title{
    margin: 0 .5rem 0 0;
}
.logo-img{
    color: var(--colorMenuItems);
}

.content-nav{
    position: fixed;
    background-color: var(--colorMenu);
    backdrop-filter: blur( 4.5px );
    box-shadow: var(--sombraMenu);
    top: 4.2rem;
    right: -100%;
    width: 100%;
    padding: 6rem 2rem 15rem 2rem;
    text-align: center;
    transition: right 200ms linear;
}
.visibility{
    right: 0;
}
.content-nav h3{
    padding: .5rem;
    margin: 1rem 0;
    transition: 200ms linear;
}
.content-nav a:hover{
    color: var(--colorMenuItems);
}

.content-icons{
    display: flex;
    justify-content: space-between;
}
.icon-btn-cart{
    position: relative;
    margin: .2rem 2rem .2rem;
    cursor: pointer;
}
.icon-btn-cart i{
    background-color: var(--colorMenuItems);
    border-radius: 8px;
    font-size: 1rem;
    padding: .4rem;
}
.icon-btn-cart a, .cart-count{
    color: var(--background);
}
.icon-btn-cart .cart-count{
    background-color: var(--colorFont);
    font-size: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: .3rem;
    position: absolute;
    bottom: -15%;
    right: -20%;
}

.icon-toggle{
    background: none;
    border: none;
    font-size: 1.6rem;
    width: 35px;
    height: 35px;
}
.hidden-btn, .close-btn{
    display: none;
}
.display-btn{
    display: block;
}

@media screen and (min-width:767px){
    .menu-content{
        column-gap: 3rem;
    }
    .content-nav{
        position: static;
        background-color: transparent;
        box-shadow: none;
        top: 0;
        width: auto;
        padding: 0;
        display: flex;
    }
    .content-nav h3{
        padding: 0;
        margin: 0;
    }
    .content-nav>a{
        margin: .5rem 1rem;
    }
    .icon-toggle{
        display: none;
    }
}

/* MODAL-CARD */
.modal-card{
    background-color: var(--colorSmoothModal);
    backdrop-filter: blur( 2.5px );
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 300ms linear;
}
.modal-show{
    left: 0;
}

.card-cart{
    background-color: var(--background);
    box-shadow: var(--sombraCards);
    border-radius: 4px;
    max-width: 450px;
    width: 80%;
    text-align: center;
    padding: 2rem;
    position: relative;
}
.cart-icon-close{
    background-color: var(--colorCap);
    padding: .6rem .8rem;
    margin: .5rem;
    font-size: 1.3rem;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: 150ms linear;
}
.cart-icon-close:hover{
    background-color: var(--colorModalClose);
    color: var(--white);
}
.empty-img{
    width: 80%;
    margin: 1rem 0;
}

@media screen and (min-width:767px) {
    .card-cart{
        max-width: 500px;
    }
    .empty-img{
        width: 60%;
    }
}
.card-details{
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.card-btn_modal{
    background: var(--colorFont);
    color: var(--white);
    border: none;
    padding: .8rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: 200ms linear;
}
.card-btn_modal:hover{
    background-color: var(--colorFontLight);
}
.card-btn_modal>i{
    margin-right: .5rem;
    font-size: .9rem;
}


/* HOME */
.info-title{
    padding: 1rem 0;
    font-size: 3rem;
}
.info-subtit{
    font-size: 2rem;
}
.info-descr{
    padding: 1rem 0;
}
.info-rating{
    padding: 1rem 0;
}
.info-rating i{
    color: var(--ratingOff);
}
.info-rating .checked{
    color: var(--yellow);
}
.rating-descr{
    margin-left: 1.5rem;
}

.cont-media{
    position: relative;
    max-width: 480px;
}

.cont-media img{
    top: 10%;
    width: 100%;
    padding: .5rem;
}

@media screen and (min-width:767px){
    .home-content{
        display: grid;
        grid-template-columns: repeat(2,  1fr);
    }
    .cont-media img{
        position: absolute;
        width: 100%;
        padding: .5rem;
    }
}

.cont-price{
    font-size: 2rem;
}
.cont-price_btn{
    background-color: var(--blueSktBnt);
    border: 2px solid var(--colorFont);
    border-radius: 3px;
    padding: .5rem 1rem;
    margin: 1.5rem 0;
    cursor: pointer;
    transition: 200ms linear;
    color: var(--colorFont);
}
.cont-price_btn:hover{
    background-color: var(--blueSktBntHover);
    color: var(--white);
}
.cont-price_btn i{
    margin-left: 1rem;
}

/* PRODUCTS */
.products{
    background-color: var(--sectionColor);
}

.products-filter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (min-width:767px){
    .content-icons{
        margin-left: auto;
    }
    
    .products-filter{
        grid-template-columns: repeat(4, 150px);
    }
}
.filter-item{
    position: relative;
    cursor: pointer;
}
.filter-item h3{
    display: block;
    margin: 0 0 .5rem 0;
    font-size: 1.2rem;
}
.filter-item_line::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: var(--colorFont);
    right: 0;
    top: 10%;
    margin: auto 0;
}
.filter-item>span{
    font-size: .9rem;
}

/* PRODUCTS */
.section-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 5rem 1rem;
}
.products-card{
    background-color: var(--cardColor);
    box-shadow: var(--sombraCards);
    width: max-content;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    position: relative;
}
.card-btn_cart{
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: .3rem;
    margin: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.card-btn_cart>i{
    color: var(--cardColor);
}
.card-btn_cart:active i{
    color: var(--colorShopActive);
}

.card-img{
    display: flex;
    justify-content: center;
    width: 270px;
    height: 250px;
    border-radius: 4px 4px 0 0;
}
.card-img>img{
    padding: 1.5rem;
}

.color-cap{
    background-color: var(--colorCap);
}
.color-cup{
    background-color: var(--colorCup);
}
.color-shirt{
    background-color: var(--colorShirt);
}
.card-content{
    padding: .5rem 0
}
.card-content>*{
    padding: .5rem ;
}
.cont-price_card{
    font-size: 1.5rem;
}

.cont-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-btn>button{
    background-color: var(--colorBtnAdd);
    color: var(--colorFont);
    border: none;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin: 0 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 200ms linear;
}
.cont-btn button:hover{
    background-color: var(--colorBtnAddActive);
}
.cont-btn>span{
    font-size: 1.2rem;
}

/* FOOTER */
.foot{
    margin: 2.5rem auto 0;
}
.foot-section{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    margin: 2rem 0 0 0;
    padding: 2rem 0;
    border-bottom: 1px solid var(--colorFontLight);
}
.section-content{
    align-self: flex-start;
}
.section-content a{
    color: var(--colorFontLight);
    transition: 200ms linear;
}
.section-content a:hover{
    color: var(--colorFont);
}

.content-items{
    padding: 1.5rem 0;
    line-height: 2.3rem;
}
.content-items>a{
    margin: 0 .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.foot-copy{
    color: var(--colorCopy);
    font-size: .8rem;
    text-align: center;
    margin: 4rem 0 0 0;
}